<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lidongxue.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
+
    <application
        android:name=".app.base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        xmlns:tools="http://schemas.android.com/tools">

        <activity android:name=".MainActivity"  android:launchMode="singleTask">

        </activity>
        <activity android:name=".adActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.BaseActivity"
          />
        <activity android:name=".activity.LoginActivity">

        </activity>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".M"/>
        <activity android:name=".activity.AddFriendActivity"/>
        <activity android:name=".activity.AddFriActivity"/>

        <activity android:name=".activity.MyInfoActivity"/>
        <activity android:name=".activity.WebViewActivity"/>
        <activity android:name=".activity.SearchPhoneContactActivity"/>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.NewFriendActivity"/>
        <activity android:name=".activity.UserInfoActivity"/>
        <activity android:name=".activity.ChatActivity"/>
        <activity android:name=".activity.NewFriendGroupActivity"/>
        <activity android:name=".activity.DiscoveryActivity"/>

       <!-- <receiver android:name=".activity.NewFriendActivity$MyReceiver"
            android:enabled="true"
            android:exported="true">
            &lt;!&ndash; 静态注册广播 &ndash;&gt;
            &lt;!&ndash; intent过滤器,指定可以匹配哪些intent, 一般需要定义action 可以是自定义的也可是系统的 &ndash;&gt;
            <intent-filter>
                &lt;!&ndash;action&ndash;&gt;
                <action android:name="com.example.lidongxue.chat.newFriendActivity" />
            </intent-filter>
        </receiver>-->
        <!--<receiver android:name=".broadcast.MyReceiverAddFri"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.lidongxue.chat.newFriendActivity" />
            </intent-filter>
        </receiver>
-->

        <activity android:name=".activity.SearchUserActivity"
            android:windowSoftInputMode = "adjustPan">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PopupMenuActivity">
            <intent-filter>
                <action android:name="XX" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".mainActivity">

        </activity>
        <receiver android:name=".widget.AppWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="action_imageview"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget"/>
        </receiver>



        <service android:name=".service.ConnectionService" />
    </application>

</manifest>